<!doctype html>
<html>
<head>
    <title>Jasmine Thai Cuisine</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
  	<link rel="stylesheet" href="css/layouts/beautiful.css"> 
    <link rel="stylesheet" type="text/css" href="{% static 'polls/beautiful.css' %}" />
   
</head>

<body>	
	<div class = "titleBox thingsInTitle">
    	<h1 href = "#" class = "titleBox-title">Jasmine Thai Cuisine</h1>
    	<ul class="titleBoxList">
        <li class="titleBoxItem"><a href="#" class="titleBoxLink">Home</a></li>
        <li class="titleBoxItem"><a href="#" class="titleBoxLink">Menu</a></li>
        <li class="titleBoxItem"><a href="#" class="titleBoxLink">Food Gallery</a></li>
        <li class="titleBoxItem"><a href="#" class="titleBoxLink">Location and Service Hours</a></li>
        <li class="titleBoxItem"><a href="#" class="titleBoxLink">Contact Us</a></li>
    </ul>

    </div>
    <h2>A few facts abput the world we live in</h2>

    <iframe align = "right" width="560" height="315" src="https://www.youtube.com/embed/uLUvHUzd4UA" frameborder="0" allowfullscreen></iframe>


     <img src="http://solarviews.com/raw/earth/bluemarblewest.jpg"/ heigh = "500" width = "500">



    
    <p> Earth is blah blah blah...named<br />after...formed <br /> approximately...life. </p>
    <hr /> 
    
    <h2> Unordered list </h2>
        <ul>
            <li>not ordered</li>
            <li>yaaa</li>
        </ul>
    <hr />

    <h2> ordered list </h2>
        <ol>
            <li>first</li>
            <li>second</li>
        </ol>
   <hr />
   
    <table>
        <tr><th>Name</th><th>Radius</th><th>Average Temp</th></tr>
        <tr><td>Earth</td><td>hella big</td><td>25 Celcius</td></tr>

    </table>

    <hr />
    <h6>WANT TO KNOW MORE?</h6>


    <form action = "google.com">
        


        <input type = "submit" value = "click here" />
    


    </form>



</body>
</html>