<!doctype html>
<html>
<head>
    <title>Lunch Menu</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
</head>
<body>
	<div class = "Rice Plate">
		<h1> Rice Plate </h1>
		<h4> Rice plate served with white or brown (extra $1) rice</h4>
		<ul>
			<li> BROCOLLI CHICKEN 9.99 <br  />
			Served with brocolli, carrot, and oyster sauce </li>

			<li> SPICY CHICKEN 9.99 <br  />
			Served with stir-fried baby corn, mushroom, onion, jalapeno, bell pepper & garlic </li>

			<li> MANGO CHICKEN 10.99 <br  />
			Served with stir-fry cashew nut, onion, mango, bell pepper, ginger & chili paste </li>

			<li> BASIL CHICKEN 9.99 (FRIED EGG $2.50) <br  />
			Served with minced chicken, bell pepper, garlic, chili & Thai basil </li>

			<li> SPICY AND CRISPY SALMON 12.99 <br  />
			Served with fried salmon, fried Thai basil, bell pepper, and roasted chili paste sauce </li>

			<li> FRIED RICE 10.99 <br  />
			Served with chicken, egg, onion, carrot, pea & tomato </li>

			<li> SPICY BASIL FRIED RICE 10.99 <br  />
			Served with chicken, bell pepper, chili, Thai basil & garlic </li>

			<li> SPICY EGGPLANT 10.99 <br  />
			Served with minced chicken, bell pepper, garlic, chili & Thai basil </li>

			<li> TILAPIA HOT PEPPER 12.99 <br  />
			Served with fried tilapia, onion, tomato, pineapple, bell pepper </li>

			<li> CRAB FRIED RICE 12.99 <br  />
			Served with crab meat, scrambled egg, & onion </li>

		</ul>

	</div>
	<div class = "Curry">
	<hr />
	<h1> Curry </h1>
	<h4> Choice of CHICKEN, PORK, or BEEF (10.99)/ FISH, PRAWN, or SQUID (12.99) </h4>
		<ul>
			<li> YELLOW CURRY <br  />
			Served with with potato, carrot & onion </li>

			<li> MUS-SA-MUN CURRY <br  />
			Served with peanut, pineapple, potato, carrot & onion </li>

			<li> GREEN OR RED CURRY <br  />
			Served with bamboo, pea, bell pepper, &Thai basil </li>

			<li> PA-NANG CURRY  <br  />
			Served with with zucchini, bell pepper &Thai basil </li>

			<li> PINEAPPLE CURRY <br  />
			Served with pineapple, bell pepper, tomato, pea &Thai basil </li>

 		</ul>

	</div>
	<div class = "Noodles">
	<hr />
	<h1> Noodles </h1>
		<ul>
			<li> PAD THAI NOODLE 10.99 <br  />
			with chicken, bean sprout, green onionm peanut and egg </li>

			<li> PAD SEE-EW NOODLE (WIDE NOODLE) 10.99 <br  />
			with broccoli, chicken and egg </li>

			<li> RAMA NOODLE 12.99 <br  />
			with spinach, chicken and peanut sauce  </li>

			<li> SPICY KEE-MAOW NOODLE (WIDE NOODLE) 10.99 <br  />
			With chicken, tomatoes, basil, bell pepper & chili </li>

			<li> KANOM JEAN GREEN CURRY COD 12.99 <br  />
			With zucchini, cod fish, green bean, bell pepper & basil  </li>
		
 		Menu items and prices are subject to change without notice. We are not responsible for lost or stolen articles.
		18% gratuity added for parties of 5 or more. No personal checks are accepted.
		We reserve the right to refuse service to anyone.
 		</p>

	</div>

</body>


</html>