<!doctype html>
<html>
<head>
    <title>Dinner Menu</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
</head>
<body>
	<div class = "Appetizers">
		<h1> Appetizers </h1>
		<ul>
			<li> SPRING ROLLS 7.99 <br  />
			Fried spring rolls filled with cabbage, taro, onion, carrot, bean thread noodles ; served piping hot with plum sauce </li>

			<li> ROTI 8.99 <br  />
			A famous Thai- Styled flat bread accompanied by flavorful peanut sauce & cucumber salad </li>

			<li> FISH CAKES 8.99 <br  />
			Fish mousse mixed w/ green bean, red curry paste, served w/ cucumber salad & crushed peanut</li>

			<li> THAI SAMOSA 7.99 <br  />
			Mashed potato, onion, carrot,and pea with curry powder wrapped in flour paper and deep-fried </li>

			<li> COCONUT PRAWNS 9.99  <br  />
			Fried prawns filled with roasted peanut, shallot, lime, ginger, bell pepper w/herbs and tamarind sauce </li>

			<li> CHILI CRUSTED CALAMARI 9.99 <br  />
			Fried calamari served with homemade sauce</li>

			<li> HOT STICKY WINGS 9.99 <br  />
			Fried chicken wings cooked in spicy plum sauce</li>

		</ul>

	</div>
	<div class = "Soups">
	<hr />
	<h1> Soups </h1>
		<ul>
			<li> (TOM KHA) COCONUT MILK SOUP with a choice of CHICKEN (S 8.99) (L 11.99), PRAWN (S 8.99) (L 12.99), or COMBO SEAFOOD (L 15.99)<br  />
			Spicy herbal soup with coconut milk, babycorn, mushroom and cilantro </li>

			<li> (TOM YUM) HOT & SOUR SOUP with a choice of CHICKEN (S 8.99) (L 11.99), PRAWN (S 8.99) (L 12.99), or COMBO SEAFOOD (L 15.99)<br  />
			Spicy herbal soup with lemongrass, mushroom and cilantro </li>
 		</ul>
	</div>
	<div class = "Salads">
	<hr />
	<h1> Salads </h1>
		<ul>
			<li> CHICKEN YUMYAI SALAD 9.99 <br  />
			Assorted vegetable sliced chicken, roasted peanut and broiled egg; tossed in light garlic dressing </li>

			<li> SOM-TUM 9.99 <br  />
			Shredded green papaya, green bean, carrot, tomato, peanut, garlic and spicy lime dressing </li>

			<li> B.B.Q. BEEF SALAD 11.99 <br  />
			Grilled beef tossed with Thai herbs, roasted chili sauce & lime dressing </li>

			<li> LARB CHICKEN /OR PORK 11.99 <br  />
			Chicken /or pork with ground-roasted rice, onion, cilantro, mint & spicy lime dressing </li>

			<li> BEAN THREAD NOODLES SALAD 12.99 <br  />
			Bean thread noodles, shrimp, ground chicken with spicy lime dressing </li>

			<li> MANGO SALAD WITH PRAWNS  12.99 <br  />
			Grilled prawns tossed with mango, onions, cilantro, cashews and spicy lime dressing </li>
 		</ul>
	</div>
	<div class = "Pan Fried">
	<hr />
	<h1> Pan Fried </h1>
		<ul>
			<li> CASHEW CHICKEN (Thai Style) 11.99 <br  />
			Sautéed chicken breast, cashew, bell pepper, and onion with roasted chili sauce & fried chili </li>

			<li> GINGER CHICKEN 11.99 <br  />
			Chicken breast, straw mushroom, bell pepper, onion, and celery with ginger and garlic </li>

			<li> MANGO CHICKEN SPECIAL (only prawn add $3) 12.99 <br  />
			Fresh mango with chicken breast, cashew, bell pepper, and onion with roasted chili sauce </li>

			<li> GARLIC CHICKEN or PORK 13.99 <br  />
			Sautéed chicken breast with extra garlic, black pepper and cilantro </li>

			<li> SPICY THAI BASIL CHICKEN 11.99 <br  />
			Sautéed minced chicken, bell pepper, and basil with garlic and chili </li>

			<li> SPICY EGGPLANT 11.99 <br  />
			Minced pork /or chicken, eggplant, bell peppers, garlic, chili and basil </li>

			<li> THREE COMPANIES 13.99 <br  />
			Prawns, squid, chicken, bean thread noodles, cabbage, broccoli, carrot, celery, and onion </li>

			<li> DRUNKEN LEMONGRASS 13.99 <br  />
			 Grilled chicken breast with asparagus & veggies served in spicy lemongrass sauce </li>

			<li> SPICY HOT PEPPER 12.99 <br  />
			Sautéed chicken with baby corn, mushroom, onion, garlic, bell pepper and jalapenos </li>

			<li> SPICY BEEF BAMBOO 11.99 <br  />
			Sautéed beef, bamboo, bell peppers, basil, chili and garlic </li>

			<li> BEEF OYSTER SAUCE 11.99 <br  />
			Sautéed beef, broccoli, cabbage, carrot and garlic  </li>

			<li> GREEN BEAN GARLIC SAUCE 11.99 <br  />
			Sautéed green bean, onion, carrot, mushroom and garlic </li>
 		</ul>
	</div>
	<div class = "BBQ">
	<hr />
	<h1> BBQ </h1>
		<ul>
			<li> TIGER CRY 14.99 <br  />
			Grilled New York steak served with steamed vegetable & spicy sauce </li>

			<li> HONEY BEEF 11.99 <br  />
			Grilled marinated beef; served with tangy plum sauce </li>

			<li> HONEY PORK 11.99 <br  />
			Grilled marinated pork ;served with tangy plum sauce </li>
 		</ul>
	</div>
	<div class = "Curry">
	<hr />
	<h1> Curry </h1>
	<h4> Choice of CHICKEN, PORK, or BEEF (10.99)/ PRAWN, FISH, or SQUID (13.99)</h4>
		<ul>
			<li> MUS-SA-MUN CURRY <br  />
			Potatoes, carrots, pineapple, peanut, onion, and coconut milk </li>

			<li> RED CURRY <br  />
			Bamboo, bell peppers, Thai basil and coconut milk </li>

			<li> PA-NANG CURRY <br  />
			Zucchini, bell pepper, Thai basil and coconut milk </li>

			<li> GREEN CURRY <br  />
			Bamboo, bell pepper, peas, Thai basil and coconut milk </li>

			<li> YELLOW CURRY <br  />
			Potato, carrot, onion and coconut milk </li>

			<li> PUMPKIN CURRY <br  />
			Pumpkin, bell pepper, red curry with coconut milk & Thai basil </li>

			<li> PINEAPPLE CURRY <br  />
			Pineapple, bell pepper, tomato, peas, red curry with coconut milk & Thai basil </li>
 		</ul>
	</div>
	<div class = "House special">
	<hr />
	<h1> House's special </h1>
		<ul>
			<li> PRAWNS CURRY 14.99 <br  />
			Potatoes, carrots, pineapple, peanut, onion, and coconut milk </li>

			<li> PRAWNS or SQUID 14.99 <br  />
				<ol>
					<li>Garlic and Black Pepper Sauce: served on top of fresh lettuce </li>
					<li>Spicy Basil Sauce: Sautéed with bamboo, bell pepper,Thai basil and spicy herbs </li>
					<li>Hot Pepper Sauce: Sautéed with baby corn, mushroom onion, garlic and jalapeño </li>
				</ol>
			</li>
			<li> BASA FILLET 15.99 <br  />
				<ol>
					<li>Ginger Sauce: with ginger, garlic, mushroom, celery, bell pepper & onion </li>
					<li>Green Curry: with zucchini, green bean, peas, bell pepper, galingale, thai basil </li>
				</ol>
			</li>
			<li> SALMON FILLET 15.99 <br  />
				<ol>
					<li>Black Pepper Sauce: with young peppercorn, asparagus, carrot, bell pepper & onion </li>
					<li>Green Mango Salsa: Grilled fillet salmon; mango, ginger, onion, cilantro and spicy sauce </li>
					<li>Tamarind Sauce: Grilled fillet salmon; served with tamarind sauce, onion, green bean & spinach </li>
					<li>Green Curry, eggplant,broccoli, peas , bell pepper ,thai  basil & coconut milk </li>
				</ol>
			</li>
			<li> PA-NANG SEAFOOD 15.99 <br  />
			Sautéed combination seafood, zucchini, bell pepper, Thai basil with panang curry </li>

			<li> SPICY SWEET & SOUR TILAPIA 16.99 <br  />
			Tilapia fillet, onion, mushroom, babycorn, bell pepper topped with your choice of hot & sour sauce /or chili sauce </li>
 		</ul>
	</div>
	<div class = "Rice and noodle">
	<hr />
	<h1> Rice and noodle </h1>
	<h4> Choice of CHICKEN, PORK, or BEEF (10.99)/ PRAWN, or SQUID (11.99)/ SEAFOOD(prawn and squid) (13.99)</h4>
		<ul>
			<li> PAD THAI NOODLE <br  />
			Egg ,bean sprout, green onion and crushed peanut </li>

			<li> PAD SEE-EW NOODLE (WIDE NOODLE) <br  />
			Brocolli and egg </li>

			<li> SPICY KEE-MAOW NOODLE (WIDE NOODLE)<br  />
			Thai basil, bell pepper and tomato </li>

			<li> FRIED RICE <br  />
			Egg, onion, carrot, pea, and tomato </li>

			<li> SPICY FRIED RICE  <br  />
			Chili, garlic, bell pepper and basil </li>

			<li> PUMPKIN CURRY <br  />
			Pumpkin, bell pepper, red curry with coconut milk & Thai basil </li>

			<li> PINEAPPLE HOUSE Fried rice <br  />
			Chicken, prawn, pineapple, peas, carrot, egg, raisin, cashew nut and onion </li>
 		</ul>

 		<p> WHITE RICE 1.50 per person	BROWN RICE 2.00 per person	STICKY RICE 2.00 per person <br  />
 		Menu items and prices are subject to change without notice. We are not responsible for lost or stolen articles.
		18% gratuity added for parties of 5 or more. No personal checks are accepted.
		We reserve the right to refuse service to anyone.
 		</p>

	</div>


</body>


</html>