<!doctype html>
<html>
<head>
    <title>Vegetarian Menu</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
</head>
<body>
	<div class = "Appetizers">
		<h1> Appetizers </h1>
		<ul>
			<li> SPRING ROLLS 7.99 <br  />
			Fried spring rolls filled with cabbage, taro, onion, carrot, bean thread noodles ; served piping hot with plum sauce </li>

			<li> ROTI 8.99 <br  />
			A famous Thai- Styled flat bread accompanied by flavorful peanut sauce & cucumber salad </li>

			<li> TEMPURA VEGETABLE 8.99 <br  />
			Lightly-battered mixed vegetable served with homemade sauce</li>

			<li> THAI SAMOSA 7.99 <br  />
			Mashed potato, onion, carrot,and pea with curry powder wrapped in flour paper and deep-fried </li>

			<li> FRIED TOFU 8.99 <br  />
			Fresh tofu; deep fried served with tangy plum sauce & crushed peanut </li>
		</ul>

	</div>
	<div class = "Soups">
	<hr />
	<h1> Soups </h1>
		<ul>
			<li> (TOM KHA) COCONUT MILK SOUP 9.99(S) 13.99(L) <br  /> 
			Spicy herbal soup with coconut milk, cabbage, broccoli, baby corn, mushroom, cilantro, carrot and Thai herbs </li>

			<li> (TOM YUM) HOT & SOUR SOUP 9.99(S) 13.99(L)<br  />
			Spicy herbal soup with cabbage, broccoli, baby corn, mushroom, cilantro, carrot and Thai herbs </li>
 		</ul>
	</div>
	<div class = "Salads">
	<hr />
	<h1> Salads </h1>
		<ul>
			<li> SOM-TUM 9.99 <br  />
			Shredded green papaya, green bean, carrot, tomato, peanut, garlic and spicy lime dressing </li>

			<li> THAI SALAD with Peanut sauce 9.99 <br  />
			Lettuce, carrot, cucumber, tomato, fried tofu, boiled egg, and peanut sauce </li>

			<li> MANGO SALAD 10.99 <br  />
			Mango, fried tofu, cashew, ginger, onion, cilantro, hot chili and spicy dressing </li>
 		</ul>
	</div>
	<div class = "Curry">
	<hr />
	<h1> Curry </h1>
		<ul>
			<li> MUS-SA-MUN CURRY 11.99 <br  />
			Potatoes, carrots, pineapple, peanut, onion, and coconut milk </li>

			<li> RED CURRY 11.99 <br  />
			Bamboo, bell peppers, Thai basil and coconut milk </li>

			<li> PA-NANG CURRY 11.99 <br  />
			Zucchini, bell pepper, Thai basil and coconut milk </li>

			<li> GREEN CURRY 11.99 <br  />
			Bamboo, bell peppers, Thai basil and coconut milk </li>

			<li> YELLOW CURRY 11.99  <br  />
			Potato, carrot, onion and coconut milk </li>

			<li> FOREST CURRY 12.99 <br  />
			Red curry without coconut milk, bamboo shoot, green bean, pumpkin, zucchini, mushroom, baby corn, bell pepper, galingale, young green pepper, tofu and sweet basil </li>

			<li> PINEAPPLE HOUSE CURRY 12.99 <br  />
			Red curry with coconut milk, tofu, pineapple, tomato, bell pepper and sweet basil </li>

			<li> TOFU SIZZLING WITH PEANUT SAUCE 12.99<br  />
			Tofu, baby corn, carrot, onion and peanut sauce served on a hot plate </li>

 		</ul>
	</div>
	<div class = "Pan Fried">
	<hr />
	<h1> Pan Fried </h1>
		<ul>
			<li> VEGGIES COMBO 11.99 <br  />
			Sautéed cabbage, broccoli, baby corn, carrot and black mushroom </li>

			<li> GARLIC GREENBEAN & FRIED TOFU 12.99 <br  />
			Sautéed garlic sauce with green bean </li>

			<li> GINGER TOFU 11.99 <br  />
			Fried tofu, straw mushroom, carrot, ginger, garlic, bell pepper, onion, celery </li>

			<li> PAD WOON SAIN 13.99 <br  />
			Bean thread noodle,fried tofu, cabbage, carrot, celery, tomato & egg </li>

			<li> CASHEW NUT FEVER 12.99 <br  />
			Cashew, fried tofu, bell pepper, carrot, onion, deep-fried chili and spicy sauce </li>

			<li> SPICY TOFU WITH HOT PEPPER 11.99 <br  />
			Tofu, baby corn, mushroom, bell pepper, onion, and hot pepper </li>

			<li> SPICY BASIL VEGETABLE 13.99 <br  />
			Sautéed chili & garlic basil sauce with mixed vegetable </li>

			<li> SPICY EGGPLANT 11.99 <br  />
			 Fried Tofu, eggplant, bell pepper, sweet basil, garlic and chili </li>

			<li> MANGO TOFU SPECIAL 13.99 <br  />
			Fresh mango with sautéed fried tofu, cashew nut, onion, ginger, bell pepper, carrot and dried chili </li>

 		</ul>
	</div>
	<div class = "House special">
	<hr />
	<h1> House's special </h1>
		<ul>
			
			<li> EGGPLANT WITH CHEF’S SPECIAL CURRY 13.99 <br  />
			Braised tofu, eggplant, kefir, jalapeno, coconut milk with chef’s special curry </li>

			<li> SWEET PUMPKIN IN RED CURRY SAUCE 13.99 <br  />
			 Pumpkin, braised tofu, bell pepper and sweet basil with red curry sauce </li>

			<li> RAMA THAI 12.99 <br  />
			Tofu and spinach topped with peanut sauce </li>
 		</ul>
	</div>
	<div class = "Rice and noodle">
	<hr />
	<h1> Rice and noodle </h1>
		<ul>
			<li> PAD THAI NOODLE 10.99 <br  />
			with tofu, baby corn, broccoli, carrot, bean sprout, green onion and egg  </li>

			<li> PAD SEE-EW NOODLE (WIDE NOODLE) 10.99 <br  />
			with broccoli, fried tofu, carrot and egg </li>

			<li> SPICY KEE-MAOW NOODLE (WIDE NOODLE) 10.99 <br  />
			with broccoli, fried tofu, carrot, tomato, sweet basil, chili & garlic </li>

			<li> VEGGIE FRIED RICE 10.99 <br  />
			With fried tofu, egg, corn, pea , carrot, tomato and onion </li>

			<li> SPICY FRIED RICE 10.99 <br  />
			With chili & garlic, fried tofu ,broccoli, baby corn and basil leaves </li>

			<li> GARLIC & GINGER RICE 7.99 </li>

			

 		<p> WHITE RICE 1.50 per person	BROWN RICE 2.00 per person	STICKY RICE 2.00 per person <br  />
 		Menu items and prices are subject to change without notice. We are not responsible for lost or stolen articles.
		18% gratuity added for parties of 5 or more. No personal checks are accepted.
		We reserve the right to refuse service to anyone.
 		</p>

	</div>


</body>


</html>